/*home page*/

#main:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: url('https://cache.desktopnexus.com/thumbseg/675/675170-bigthumbnail.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(7px);
    -moz-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Andale mono', monospace;
    font-size: 40px;
}
#countbox {
    display: flex;
    color: #435722;
    margin-bottom: 50px;
    margin-top: 10px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 20px;
    background-color: #799C3D;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#left {
    display: flex;
    flex-direction: column;
}

.nav {
    margin-bottom: 20px;
    font-family: 'Andale mono', monospace;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: 300ms;
    border-radius: 20px;
    background-color: rgba(121, 156, 61, 0.4);
    border: 3px solid #799C3D;
    height: 70px;
    width: 200px;
    color: #435722;

}

.nav:hover {
    background-color: #799C3D;
}

.nav:focus {
    box-shadow: none;

}

/*info page*/

#mainInfo:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: url('https://wallpapercave.com/wp/veTWy1Q.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(7px);
    -moz-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
}

#cols {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    font-family: 'Andale mono', monospace;
    font-size: 30px;
}

.col {
    text-align: center;
    overflow-wrap: break-word;
    background-color: #799C3D;
    width: 300px;
    padding: 20px;
    margin: 40px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#home {
   display: flex;
   justify-content: center;
}
i {
    color: #799C3D;
    margin-top: 10px;
    margin-bottom: -10px;
    transition: transform .2s;
}

i:hover {
    transform: scale(1.2);
    color: #435722;
}

